<!DOCTYPE html>
<html>
  <head>
    <title>admin home page</title>
    <!-- <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/> -->
  </head>
  <body>
    <h2 id="asd" style="text-align: center;">** Admin Dashboard **</h2>
    <a href="/addemployee">1) add employee </a><br>
    <a href="/approveemployee">2) approve employee</a><br>
    <a href="/deleteemployee">3) delete employee</a><br>
    <a href="/showallemployees">4) show all employees </a><br>
    <a href="/searchemployee">5) search employee</a><br>
    <a href="/updateemployeerecord">6) update employee record</a><br><br>
    <a href="#">7) upsdfsaoyee record</a><br><br>
    <a href="./" style="color:black">BACK TO HOME PAGE</a> 
  </body>
</html>