<!DOCTYPE html>
<html>
  <head>
    <title> employee registration </title>
    <style>
      div {
        background-color: lightgrey;
        border: 2px solid black;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
        width: 40%;
      }
    </style>
  </head>
  <body>
    <form action="saveemployee" method="post">
      <div>
        <h2>Employee Registration Page</h2>
        <p>empid :<input style="border-radius: 5px;" type="text" name="empid" placeholder="Enter employee id"/></p>
        <p></p>password :<input style="border-radius: 5px;" type="password" name="password" placeholder="Enter password"/></p>
        <p></p>name :<input style="border-radius: 5px;" type="text" name="name" placeholder="Enter your name"/></p>
        <p></p>address :<input style="border-radius: 5px;" type="text" name="address" placeholder="Enter Address"/></p>
        <p></p>phone :<input style="border-radius: 5px;" type="text" name="phone" placeholder="Enter phone no"/></p>
        <p></p>salary :<input style="border-radius: 5px;" type="text" name="salary" placeholder="Enter Salary"/></p>
        <p></p>department :<input style="border-radius: 5px;" type="text" name="department" placeholder="Enter department"/></p>
        <p><input style="border-radius: 5px;" type="submit"/></p>
        <a href="./" style="color:black">BACK TO HOME PAGE</a>
      </div>
    </form>
  </body>
</html> 