<!DOCTYPE html>
<html>
  <head>
    <title> employee registration </title>
    <style>
      div{
        background-color: lightgrey;
        border: 2px solid black;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
        width: 40%;
      }
    </style>
  </head>
  <body>
    <form action="confirmed" method="post">
      <div>
        <p>empid :<input style="border-radius: 5px;" type="text" name="empid" placeholder="Enter employee id"/></p>
        <p></p>password  :<input style="border-radius: 5px;" type="password" name="password" placeholder="Enter password"/></p>
        <p><input style="border-radius: 5px;" type="submit"/></p>
        <a href="./" style="color:black">BACK TO HOME PAGE</a>
      </div>
    </form>
  </body>
</html> 