<!DOCTYPE html>
<html>
  <head>
    <title> search employee </title>
  </head>
  <body>
    <form action="searchemployee" method="post">
        <p>empid :<input type="text" name="empid" placeholder="Enter employee id"/></p>
        <p><input type="submit"/></p>
        <a href="./" style="color:black">BACK TO HOME PAGE</a>
    </form>
  </body> 
</html> 